.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  max-width: 1280px;
  height: 80px;
  padding: 0 76px;
}

span.logo-title {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 12px;
  vertical-align: middle;
}

div.logo-container {
  display: flex;
}

div.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
